html {
    line-height: 1.5;
    tab-size: 4;
  }
body {
    margin: 0;
    line-height: inherit
}

.social-medias .thought-bubble{
    background-image: url(../imgs/speech-balloon.png);
}

.emoji {
    display: inline-block;
    vertical-align: text-top;
    background-size: contain;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
}